<div class="container">
  <div class="row mt-5">
    <h1 class="weather-app-title col-sm-12">Weather app</h1>
    <form class="weather-app-form col-sm-12" #searchCityForm="ngForm">
      <input
        type="text"
        class="form-control weather-app-searchbar"
        id="name"
        required
        [(ngModel)]="query"
        name="name"
        #name="ngModel"
        placeholder="Enter city"
        [ngbTypeahead]="search"
        [resultFormatter]="formatter"
        [inputFormatter]="formatter"
        (selectItem)="selectedItem($event)"
      />
      <span class="weather-app-searchicon">
        <svg
          aria-hidden="true"
          focusable="false"
          data-prefix="fas"
          data-icon="search"
          class="svg-inline--fa fa-search fa-w-16"
          role="img"
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 512 512"
        >
          <path
            fill="currentColor"
            d="M505 442.7L405.3 343c-4.5-4.5-10.6-7-17-7H372c27.6-35.3 44-79.7 44-128C416 93.1 322.9 0 208 0S0 93.1 0 208s93.1 208 208 208c48.3 0 92.7-16.4 128-44v16.3c0 6.4 2.5 12.5 7 17l99.7 99.7c9.4 9.4 24.6 9.4 33.9 0l28.3-28.3c9.4-9.4 9.4-24.6.1-34zM208 336c-70.7 0-128-57.2-128-128 0-70.7 57.2-128 128-128 70.7 0 128 57.2 128 128 0 70.7-57.2 128-128 128z"
          ></path>
        </svg>
      </span>
    </form>
  </div>
  <div class="row mt-5" *ngIf="city">
    <div class="col-sm-12">
      <h1 class="stats-value">{{ city.title }}</h1>
    </div>
    <div class="col-sm-12">
      <div class="row">
        <div class="col">
          <img
            height="100px"
            src="../assets/images/{{ weatherToday.weather_state_abbr }}.svg"
          />
          <div class="stats-value">{{ weatherToday.the_temp | number }} °C</div>
          <p class="stats-title">{{ weatherToday.weather_state_name }}</p>
          <p class="stats-title">
            Today &bull; {{ weatherToday.applicable_date | date: "E, d MMM" }}
          </p>
        </div>
        <div class="col">
          <div class="row mb-5">
            <div class="col mb-2">
              <span class="stats-title">Wind status</span>
              <div class="stats-value">
                {{ weatherToday.wind_speed | number: "1.0-1" }} mph
              </div>
            </div>
            <div class="col mb-2">
              <span class="stats-title">Humidity</span>
              <div class="stats-value">
                {{ weatherToday.humidity | number: "1.0-0" }}%
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col mb-2">
              <span class="stats-title">Visibility</span>
              <div class="stats-value">
                {{ weatherToday.visibility | number: "1.0-1" }} miles
              </div>
            </div>
            <div class="col mb-2">
              <span class="stats-title">Air Pressure</span>
              <div class="stats-value">
                {{ weatherToday.air_pressure | number: "1.0-1" }} mb
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-12">
      <div class="d-flex forecast">
        <div class="forecast-box">
          <div class="forecast-card" *ngFor="let weather of locationForecast">
            <p>{{ weather.applicable_date | date: "E, d MMM" }}</p>
            <img
              height="30px"
              src="../assets/images/{{ weather.weather_state_abbr }}.svg"
            />
            <p>{{ weather.weather_state_name }}</p>
            <p>{{ weather.max_temp | number: '1.0-0' }}°C - {{ weather.min_temp | number: '1.0-0' }}°C</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
